<html>
<head>
    <title>
        Home
    </title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/icon.png">
</head>
    <body>
        {{>header}}
        <center>
        <table id="dt" cellpadding="30px" margin="none">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Gender</th>
                <th>Age</th>
                <th>Edit | Delete</th>
            </tr>

        </table>
        </center>
    </body>
    <script src="/js/index.js"></script>
</html>